# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Virtual env
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations cache (optional but safe)
*.sqlite3

# Media uploads
media/

# Static collected files
staticfiles/

# Backups
*.json

# Environment variables
.env