# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Django
# ===============================
db.sqlite3
*.log
local_settings.py

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/

# ===============================
# Environment Variables
# ===============================
.env
.env.*

# ===============================
# Media & Static
# ===============================
media/
staticfiles/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Backup & Temp
# ===============================
*.json
*.bak
*.swp